.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 1em;
  min-width: 500px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgb(0, 0, 0, 0.15 green, blue);
}

.content-table thead tr {
  background: #009879;
  color: #fff;
  text-align: left;
  font-weight: bold;
}
.content-table th,
td {
  padding: 12px 15px;
}
.content-table tbody tr {
  border-bottom: 1.5px splid #ddfddd;
}
.content-table tbody tr:nth-child(even) {
  background: #f3f3f3;
}
.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}
.content-table tbody tr.active-row {
  font-weight: 700;
  color: #009879;
}
